@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,400;0,600;1,400&family=Roboto:wght@100;300;500&display=swap');
html {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.card{
    display: flex;
    justify-content: space-between;
}
.card-title{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card-item{
    width: 32%;
    border: grey solid 2px;
    border-radius: 5px;
    padding: 5px;
}
.card-title-header{
    display: flex;
    justify-content: center;
}
.card-title-description{
    margin: 5px;
}
.card-img{
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.img-container{
    display: flex;
    justify-content: center;
    margin: 40px auto;
    width: 300px;
    height: 300px;
}
.img{
 min-height: 100%;
 width: auto;
}
.btn{
    border: cornflowerblue solid 1px;
    border-radius: 3px;
    background-color: dodgerblue;
    padding: 5px 25px;
    display: flex;
    margin: 0 auto;
}
.btn:hover{
    border: greenyellow solid 1px;
    color: greenyellow;
}